@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
    --VeryDarkBlue: hsl(243, 87%, 12%);
    --DesaturatedBlue: hsl(238, 22%, 44%);
    --BrightBlue: hsl(224, 93%, 58%);
    --ModerateCyan: hsl(170, 45%, 43%);
    --LightGrayishBlue: hsl(240, 75%, 98%);
    --LightGray: hsl(0, 0%, 75%);
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7% 3% 20%;
}

.logoHeader {
    width: 30%;
}

.ListNav {
    display: flex;
}

.ListNav>li {
    padding-right: 15px;
}

.illustration-1,
.illustration-2,
.mobile {
    width: 100%;
}

.containSecGeneral {
    padding: 5%;
    margin-bottom: 80px;
}

h1 {
    color: var(--VeryDarkBlue);
    text-align: center;
    font-size: 26px;
    line-height: 45px;
    padding: 10% 1%;
    font-weight: bold;
}

.textH1 {
    font-size: 17px;
    color: var(--VeryDarkBlue);
    text-align: center;
    line-height: 1.4;

}

.containInputButt {
    display: flex;
    flex-direction: column;
}

.inputOne {
    border: 1px solid var(--DesaturatedBlue);
    margin: 30px 0 20px;
    height: 2.7rem;
    border-radius: 0.3rem;
}

::placeholder {
    padding-left: 25px;
    color: var(--LightGray);
}

.buttonOne {
    height: 2.7rem;
    color: var(--LightGrayishBlue);
    border-style: none;
    background-color: var(--BrightBlue);
    font-weight: 700;
    border-radius: 0.3rem;
    box-shadow: 3px 4px 14px -9px rgb(54, 53, 53);
}


.containSecGenera2 {
    background-color: var(--LightGrayishBlue);
    padding-bottom: 50px;
}

.illustration-2 {
    background-color: var(--LightGrayishBlue);
}

.imgCurveMobile {
    background-image: url(/img/bg-curve-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
}

.text2 {
    color: var(--VeryDarkBlue);
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    padding: 20% 0 5%;
    font-weight: bold;
}

.text3 {
    font-size: 16px;
    color: var(--VeryDarkBlue);
    text-align: left;
    line-height: 1.4;
    padding: 0 5%;
    margin-bottom: 15px;
}

.containSeeHow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.text4 {
    color: var(--ModerateCyan);
    text-decoration: underline;
    font-size: 20px;
}

.icon-arrow {
    height: 20px;
}

.containQuotes {
    margin: 10% 6%;
    padding: 5%;
    background-color: white;
    box-shadow: 3px 4px 14px -9px rgb(54, 53, 53);
    border-radius: 0.6rem;
}

.text5 {
    font-size: 14px;
    line-height: 25px;
    margin-top: 10px;
}

.containAvatar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;

}

.avatar {
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.nameAvatar {
    color: var(--VeryDarkBlue);
    font-weight: bold;
}

.position {
    font-size: 12px;
    padding-top: 8px;
}

.containSecGenera3 {
    background-color: var(--DesaturatedBlue);
    padding: 5%;
    text-align: center;
    color: white;
}

.titleH2 {
    padding: 45px 0 30px;
}

.text6 {
    font-size: 18px;
    line-height: 1.5;
}

.buttonOneMar {
    margin-bottom: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15% 10%;
    background-color: var(--VeryDarkBlue);
    color: white;
}

.imgLogoFooter{
    margin: 30px 0 30px;
}    

.containerPhone,
.containerEmail {
    display: flex;
}

.containerEmail{
    margin-bottom: 40px;
}

.containListFooter>li {

    line-height: 40px;

}

.listMargin {
    margin-bottom: 30px;
}

.containSocial>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.listSocial>li {
    padding: 0 15px;
}

.imgPhone,
.imgEmail {
    padding: 0 20px 20px 0;
}